@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(../public/fonts/SegoeUI/SegoeUI-Light.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../public/fonts/SegoeUI/SegoeUI.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(../public/fonts/SegoeUI/SegoeUI-SemiBold.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(../public/fonts/SegoeUI/SegoeUI-Bold.woff2) format('woff2');
    }

    html {
        font-family: 'Segoe UI', -apple-system, system-ui, sans-serif;
        font-weight: 400;
    }
}